<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="deven.geolocation"
    version="1.0.1">
    <name>Cordova GeoLocation</name>
    <description>Cordova GeoLocation Plugin</description>

    <js-module src="www/geoLocation.js" name="GeoLocation">
        <clobbers target="GeoLocation" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="GeoLocation">
                <param name="android-package" value="deven.geolocation.GeoLocation" />
            </feature>
            <feature name="GPSTracker">
                <param name="android-package" value="deven.geolocation.GPSTracker" />
            </feature>            
        </config-file>
        <!-- 
        Register your service here
        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file> -->
        <source-file src="src/android/GeoLocation.java" target-dir="src/deven/geolocation/" />
        <source-file src="src/android/GPSTracker.java" target-dir="src/deven/geolocation/" />
    </platform>
</plugin>
