<?xml version='1.0' encoding='utf-8'?>
<plugin id="deven.geolocation" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>GeoLocation</name><js-module name="GeoLocation" src="www/GeoLocation.js"><clobbers target="cordova.plugins.GeoLocation" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="GeoLocation"><param name="android-package" value="deven.geolocation.GeoLocation" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/GeoLocation.java" target-dir="src/deven/geolocation/GeoLocation" /><source-file src="src/android/GPSTracker.java" target-dir="src/deven/geolocation/GeoLocation" /></platform></plugin>
